.presentation {
    background: linear-gradient(111deg, var(--orange-100) 0%, var(--green-300) 100%);
    padding: 2.375rem 8.125rem;
    border-radius: 44px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.avatar {
    padding: 1.6rem;
    background: var(--green-100); 
    border-radius: 124px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.avatar img {
    height: 5rem;
    width: auto;
}

.presentation h1 {
    font-family: 'Nunito';
    font-size: 2.75rem;
}

.presentation p {
    font-size: 3.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.presentation p span {
    color: var(--blue-200);
}

.buttons {
    margin-top: 2.6rem;
    display: flex;
    justify-content: center;
}

.buttons button {
    font-size: 0.875rem;
}

.contactButton {
    padding: 0.5rem 2.25rem;
    background: var(--gray-900);
    color: var(--white);
    cursor: pointer;

    border: 0;
    border-radius: 32px;
}

.dowloadButton {
    margin-left: 1rem;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}