.presentation {
    background: linear-gradient(111deg, var(--orange-100) 0%, var(--green-300) 100%);
    padding: 2.375rem 8.125rem;
    border-radius: 2.5rem; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.avatar {
    padding: 1.6rem;
    background: var(--green-100); 
    border-radius: 124px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.avatar img {
    height: 80px;
    width: auto;
}

.presentation h1 {
    font-family: 'Nunito';
    font-size: 2.75rem;
}

.presentation p {
    font-size: 3.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.presentation p span {
    color: var(--blue-200);
}

.buttons {
    margin-top: 2.6rem;
    display: flex;
    justify-content: center;
}

.buttons button {
    font-size: 0.875rem;
}

.contactButton {
    padding: 8px 36px;
    background: var(--gray-900);
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    border: 0;
    border-radius: 32px;
}

.contactButton:hover {
    transition: 0.1s;
    background: var(--gray-600);
}

.dowloadButton {
    margin-left: 16px;
    text-decoration: none;
    color: var(--gray-900);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dowloadButton:hover {
    transition: 0.1s;
    border-bottom: solid ;
}

@media (max-width: 768px) {

    .presentation {
        padding: 24px 30px;
    }

    .buttons button {
        font-size: 14px;
    }
}