.wrapper{
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;
}

.wrapper .title{
    margin-top: 5rem;
    font-size: 5.75rem;
    font-weight: 500;
    line-height: 5rem;
}

@media (max-width: 768px) {

    html{
        font-size: 50%;
    }
}